<!doctype html>
<html lang="en">

<head>
    <title>Preferences</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/overall.css">
    <script src="js/login.js"> </script>
</head>

<body>
    <header>
        <iframe src="/topHeader"></iframe>
    </header>
    <h1>Login / Signup</h1>
    <p>Create an account to bookmark,favorite, and keep track of progress</p>
   
        <div class="container">   
            <label>Username : </label>   
            <input type="text" id="InputField" placeholder="Enter Username" name="username" required>  
            <button id="Login">Login</button>
            <button id="Sign_Up">Sign Up</button>     

        </div>   
        <p>
        <output />
        </p>
    
</body>

</html>