<style>
    #contain {
        display: flex;
        flex-direction: row;
    }

    #left{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    #left{
        display: flex;
        flex-direction: row; 
        align-content: flex-end;
        flex-grow: 1;
    }
</style>
<div id="contain">
    <div id="left">
        <button>Home</button>
        <p>Site Name</p>

    </div>
    <div id="right">
        <button>Start the tour</button>
        <button>Preferences</button>
        <button>About</button>

    </div>

</div>