<!doctype html>
<!-- A minimal HTML5 skeleton -->
<html lang="en">

<head>
  <title>Template</title>
  <meta charset="utf-8">
  <link href="css/overall.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplate.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplateGrid.css" rel="stylesheet" type="text/css" media="screen">
  <script src="js/tour.js"></script>
</head>

<body>

  <header>
    <iframe src="/topHeader"></iframe>
  </header>
  <div class="grid-container">

    <nav>
      <h2>Click on a location to begin</h2>
      <ul>
        <li><button id="alliedSide">AlliedSide</button><img src="/images/non-favorite.png" id="favoriteAllied"
            style="width: 15px"></li>
        <li><button id="jungle">Jungle</button><img src="/images/non-favorite.png" id="favoriteJungle"
            style="width: 15px"></li>
        <li><button id="lanes">Lanes</button> <img src="/images/non-favorite.png" id="favoriteLanes"
            style="width: 15px"></li>
        <li><button id="river">River</button><img src="/images/non-favorite.png" id="favoriteRiver" style="width: 15px">
        </li>
      </ul>
      <p>
        <output />
      </p>
    </nav>


    <aside>
      ASIDE
    </aside>

    <img src="/images/unknown.jpg.png" alt="oops no img" id="image1">

    <p id='paragraph1'>

    </p>

    <img src="/images/unknown.jpg.png" alt="oops no img" id="image2">

    <p id='paragraph2'>

    </p>

    <img src="/images/unknown.jpg.png" alt="oops no img" id="image3">

    <p id='paragraph3'>

    </p>

    <img src="/images/unknown.jpg.png" alt="oops no img" id="image4">

    <p id='paragraph4'>

    </p>



  </div>

  <footer>
    FOOTER
  </footer>