<!doctype html>
<html lang="en">

<head>
    <title>Tour</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/tour.css">
</head>

<body>
    <header></header>
    <h1>Welcome to the site</h1>
    <main>
        <img src="/images/Summoner's_Rift_Update_Map.png" alt="Pic of map" width="50%">
        <p>Dolorem et deserunt dolor soluta aliquid consequatur harum a. Adipisci dolores voluptas asperiores. Consequatur aut quod laborum perferendis ut. Sed quisquam iure est et eaque.

            Dolor sit expedita debitis totam sed autem. Autem laudantium laborum excepturi perspiciatis sit tenetur. Ratione et eos voluptatem. Aut illum placeat officia est aut qui qui eveniet.
            
            Sint ut libero ut aut sed assumenda. Qui odio labore fugit. Quo voluptas repellendus qui voluptas et assumenda iusto. Minima quis iure perferendis perferendis doloribus.
            
            Sunt consectetur molestias nesciunt est. Quos mollitia similique exercitationem consequatur autem non. Vitae quas eligendi qui. Possimus earum aliquam sint consequuntur.
            
            Adipisci aliquam labore non quia. Culpa nulla enim nesciunt et omnis eos. Tempore voluptatem ut est laborum fugiat.</p>
        <button type="button">Click Me!</button>

    </main>

</body>

</html>