<!doctype html>
<html lang="en">

<head>
    <title>Tour</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/tour.css">
</head>

<body>
    <h1>Welcome to the site</h1>
    <p>Words and stuff</p>
    <img src="/images/Summoner's_Rift_Update_Map.png" alt="Pic of map" width="25%">
</body>

</html>

/*
1. Make a view for each page thats getting one
2. Code the templates into HTML
3. Code Templates into CSS (decide between grid and flexbox
4. Code in individual pictures to get the website looking good.
5. Async Javscript
*/