header {
  background-color: lightgreen;
  padding: .25rem 1rem 1.5rem;
  height: 3rem;
}

iframe {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
  height: 5rem;
  width: 100%;
  display: block;
}
