header {
  background-color: lightgreen;
  padding: 1rem;
  height: 3rem;
}

iframe {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
  height: 5rem;
  width: 100%;
}
