header {
  background-color: lightgreen;
  padding: 2rem;
}

h1 {
  background-color: lightblue;
  text-align: center;
  width: fit-content;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: auto;
  gap: 5rem;
  align-items: flex-start;
}

img {
  max-width: 40%;
  height: auto;
}

main > p {
  flex-grow: 2;
  flex-shrink: 1.25;
  padding: 1rem;
  border: 2px solid black;
}

aside {
  flex-grow: 1.5;
}

button {
  height: fit-content;
  padding: 2rem;
}
