header {
    background-color: lightgreen;
    padding: 2rem;
}

body{
    margin: 0 2% 0 2% ;
}
h1 {
  background-color: lightblue;
  text-align: center;
  width: fit-content;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis:auto;
    gap: 5rem;
}

button{
    height: 1rem;
    padding: 2rem;
}

